body {
  background-color: #74b3ff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Titillium Web", serif;
}

*:focus {
  outline: none; }

#login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px; }

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

input[type="text"], input[type="password"] {
  border-radius: 10px;
  padding: 5px;
  border: solid 2px #74b3ff; }

#profile-pic-file {
  display: none;
}

#profile-pic-label, button {
  background-color: #74b3ff;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 2px 0 #368cf5;
}

#create-user-title {
  text-transform: uppercase; }

#user-at-symbol {
  font-weight: bold; }

#main-container {
  flex-direction: row;
  display: flex; }

#user-info {
  border-radius: 10px;
  align-self: flex-start;
  background-color: #ffffff;
  color: #74b3ff;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#user-info-title {
  color: black;
  font-weight: bold;
}

.text {
  color: black;
}

#username-span {
  font-weight: bold;
}

#post-container {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.post-header-div {
  display: flex;
  flex-direction: column;
}

.post-timestamp {
  color: gray;
  font-size: 8pt;
  font-style: italic;
}

#username-box {
  border: solid 2px #74b3ff;
  border-radius: 10px;
  padding: 5px; }

#username-input {
  border: none; }

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit; }

*:focus {
  outline: none; }

form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid 2px white;
  padding: 10px; }

#search-label {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #74b3ff;
  border-radius: 10px;
  padding: 5px; }

#profile-pic-label:hover, button:hover {
  background-color: #a7cfff; }

#profile-pic-label:active, button:active {
  background-color: #a7cfff;
  box-shadow: 0px 2px 2px 0px transparent;
}

#create-user-title {
  text-transform: uppercase; }

button:hover {
  cursor: pointer;
}

#user-at-symbol {
  font-weight: bold; }

#main-container {
  flex-direction: row;
  display: flex; }

#post-container {
  flex-direction: column;
  display: flex; }

.post {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; }

#user-pic {
  margin-top: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: gray; }

.post-user-pic {
  border-radius: 50%;
  margin-right: 5px;
  border: solid 2px #74b3ff;
  width: 32px;
  height: 32px;
}

.post-content {
  padding: 10px; }

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center; }

.comment-user {
  font-weight: bold;
}

.comment-content {
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #74b3ff;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #daebff;
}

#post-button {
  align-self: flex-start; }

#new-post-content {
  margin-bottom: 10px;
  align-self: stretch; }

.post-user {
  text-decoration: none; }

#new-post-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

#new-post {
  padding: 10px;
}

#new-post-title {
  font-weight: bold;
}

#header {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.comment-section {
  background-color: #daebff;
  margin-top: 10px;
}

.comment-form {
  display: flex;
  align-items: stretch;
}

#confirm-comment {
  align-self: flex-start;
}

.comment, .comment-form {
  margin-top: 5px;
  background-color: #ffffff;
}

.comment-section, .comment, .comment-form {
  padding: 10px;
  border: solid 2px #74b3ff;
  border-radius: 10px;
}

.comment-input {
  margin-bottom: 10px;
}
