body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*:focus {
    outline: none;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px white;
    padding: 10px;
}

input[type="text"], input[type="password"]{
    border-radius: 10px;
    border: solid 2px gray;
    padding:5px;
}

button {
    border: solid 2px darkgray;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

#create-user-title {
    text-transform: uppercase;
}

#user-at-symbol {
    font-weight: bold;
}

#main-container {
    flex-direction: row;
    display:flex;
}

#user-info {
    border-radius: 10px;
    color: white;
    align-self: flex-start;
    border: solid 2px red;
}

#post-container {
    flex-direction: column;
    display:flex;
    border: solid 2px green;
}